<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-inverse">
  <div class="container">
    <h1>
      {{title}}
    </h1>
  </div>
</nav>

<div class="container">
  <div class="well well-lg">
    <form (ngSubmit)="onSubmit()" #photoBucketForm="ngForm">
      <div class="form-group">
        <input required class="form-control" type="text" placeholder="Caption" name="caption" [(ngModel)]="formPhotoBucket.caption">
      </div>

      <br>
      <div class="form-group">
        <input required type="text" class="form-control" placeholder="ImageUrl" name="imageUrl" [(ngModel)]="formPhotoBucket.imageUrl">
      </div>

      <button [disabled]="!photoBucketForm.form.valid" type="submit" class="btn btn-default pull-right">
        {{formPhotoBucket.$key ? 'Edit' : 'Submit'}}</button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>

<hr>

<div id="wrapper">
  <div id="columns">
    <div class="pin" *ngFor="let photo of (photoBucketStream | async) | reverse">
      <div class="pull-right edit-actions">
        <button type="button" class="btn btn-success btn-xs">
          <span class="glyphicon glyphicon-pencil" (click)="edit(photo)"></span>
        </button>
        <button type="button" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-trash" (click)="remove(photo.$key)"></span>
        </button>
      </div>
      <img [src]="photo.imageUrl" alt="A photo">
      <p class="caption">{{ photo.caption }}</p>
    </div>
  </div>
</div>
